@font-face
{
   font-family: 'telegrama_raw';
   src: url("../fonts/telegrama_raw.otf")
}
:root
{
   --red: #c93354;
   --green: #0f0;
   --yellow: rgb(216, 184, 0);
   --blue: #2483db;
   --cyan: #0ff;
   --violet: #a151d6;
   --gray: #eee;
   --lgray: #fff;

   --border_width:2px;

   --App-margin: 10px;

   --IdCard_offset: -27px;
}
html
{
   background-color: #000;
   overflow-y: auto;
   font-family: 'telegrama_raw', monospace;
   color: var(--lgray)
}

body
{
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

h1
{
   border-bottom: var(--border_width) var(--lgray) solid;

   margin: auto; padding: 20px;
   
   width: fit-content;
   
   text-align: center;
}

a:visited{ color: var(--violet); }
a{ color: var(--blue); }

.txt-violet{ color: var(--violet) }
.txt-red{ color: var(--red) }
.txt-cyan{ color: var(--cyan) }
.txt-yellow, .txt-blue-yellow{ color: var(--yellow) }
.txt-blue-yellow::first-letter, .txt-blue{ color: var(--blue); }